<div class="flex justify-between p-2">
    <div class="flex items-center gap-4 ml-2">
        <img class="w-60"  src="/assets/mediumLogo.png" alt="logo">

        <div class="pt-2 relative mx-auto text-gray-600">
            <input class="bg-gray-100 h-10 pl-10 px-5 rounded-full text-sm focus:outline-none" type="search"
            name="search" placeholder="Search Medium">
            <button type="submit" class="absolute left-0 top-0 mt-5 ml-4">
                <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                    viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                    width="512px" height="512px">
                    <path
                        d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                </svg>
            </button>
        </div>
        
    </div>
    <div class="flex items-center gap-8 pr-5">

        <div class="flex items-center gap-2 rounded-lg hover:bg-slate-100 px-2 py-1 cursor-pointer">
            <ng-icon class="text-3xl text-slate-700/70 cursor-pointer" name="heroPencilSquare"></ng-icon>
            <span class="text-slate-700/70">Write</span>
        </div>

        <div class="flex items-center gap-2">
            <ng-icon class="text-3xl text-slate-700/70 hover:text-black cursor-pointer" name="heroBell"></ng-icon>
        </div>

        <div class="flex gap-1 items-center">
            <img class="w-11 rounded-full"  src="/assets/userPic.png" alt="userPicture">
            <span class="-rotate-90 text-xs text-slate-700/70 hover:text-black cursor-pointer"> < </span>
        </div>

    </div>
</div>

<hr>

<router-outlet></router-outlet>
